/*清除基础样式*/
body,h2,h3,p{
    margin: 0;
    padding: 0;
}
/*设置基础样式*/
body{
    color: black;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}
/*取消表单控件在焦点下的轮廓线*/
input:focus{
    outline: none;
}
/*主体样式*/
#goods_order{
    width: 1200px;
    margin: 0 auto;
    min-height: 400px;
}
/*头部样式*/
.goods_title{
    height: 50px;

}
.goods_title h2{
    font:24px "微软雅黑";

}
#goods_order .goods_title>h2>p{
    float: right;
    font-size: 16px;
}
.goods_title>h2>p>.total_num,.goods_title>h2>p>.total_price{
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
    color: red;
}
/*导航栏样式*/
.goods_nav{
    height: 36px;
    display: inline-block;
    line-height: 36px;
    box-shadow: 0 2px 5px gray;
}
#goods_order p{
    float:left;
    text-align: center;
    box-sizing: border-box;
}
#goods_order p span{
    text-align: left;
}
.check{
    width: 120px;
}
.goods_name{
    width:390px;
}
.goods_price{
    width: 130px;
}
.goods_count{
    width: 140px;
}
.goods_sum{
    width: 130px;
}
.goods_action{
    width: 150px;
}
.check img{
    vertical-align: middle;
}
/*主体样式*/
.goods_content{
    margin-top: 20px;

}
.goods_items{
    height: 115px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    background-color: #fff;
}
.goods_items p{
    height: 115px;
    border-right: 1px solid #333;

}
.goods_items .check,.goods_items .goods_action{
    border: none;
    text-align: center;
    line-height: 115px;
}
.goods_items>.goods_name>span{
    display: block;
    margin-top: 15px;
}
.goods_items>.goods_name>img{
    float: left;
    width: 84px;
    height: 84px;
    margin: 15px 20px;
}
.goods_items .goods_price,.goods_items .goods_sum,.goods_items .goods_count{
    line-height: 115px;
}
.goods_items .goods_count a{
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    float: left;
    background-color: #e8e8e8;
    margin-top: 40px;
}
.goods_items .goods_count input {
    margin-top: 40px;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    border-top:1px solid gray;
	border-bottom:1px solid gray;
    padding: 0;
    text-align: center;
}
.goods_items .goods_count .minus{
    margin-left: 30px
}
#goods_order{
    position: relative;
    padding-bottom: 50px;
}

#goods_order .goods_tools{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.1);
    bottom: 0;
    left: 0;
}
#goods_order .goods_tools p{
    float: left;
    line-height: 50px;
    padding-left: 20px;

}
#goods_order .goods_tools p span{
    padding: 0 10px;
    color: red;
}
#goods_order .goods_tools button{
    float:right;
    width: 120px;
    height: 50px;
    border: none;
    color: white;
    background-color: red;
    font-size: 24px;
}


