/*清除基础样式*/
body, ul, ol, a, span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/*设置基础样式*/
body {
  color: black;
  font-size: 14px;
}

input {
  outline: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
}

img {
  width: 200px;
  height: 100px;
}

/*页面整体结构样式*/
#content {
  width: 1200px;
  margin: 0 auto;
}

#left-top a {
  float: left;
}

#left-top > ul > li {
  vertical-align: bottom;

}

#right-top {
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#right-top ol {
  float: right;
  margin-top: 20px;
}

#right-top > ol > li {
  float: left;
  margin-left: 5px;
  padding: 0 5px;

}

#nav, .form-line {
  padding-left: 50px;

}

#nav {
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 50px;
  height: 50px;
}

.form-line > .tooltip {
  width: 120px;
  display: inline-block;
  visibility: hidden;
  color: red;
}

.form-line > .tipText {
  display: none;
}

.form-line span {
  line-height: 50px;
}

.form-line input {
  height: 35px;
  width: 350px;
  margin-bottom: 20px;

}

#keyword {
  width: 175px;
}

.form-line .btu {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #64a131;
  text-align: center;
}

#step1{
display:block;
}
#step2{
  display: none;
}
#step1,#step2{
  width: 100%;
  height: 40%;
  left: 2%;
  top:10%;
}

.alert-contain-modal {
  position: absolute;;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
}

.alert-contain-modal .alert-contain {
  background: #fff;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
}

.alert-contain-modal .alert-contain .alert-header {
  background-color: #64a131;
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.alert-contain-modal .alert-contain .alert-header span {
  margin-left: 10px;
}

.alert-contain-modal .alert-contain .alert-header .close {
  float: right;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.alert-contain-modal .alert-contain .alert-content {
  color: #333;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.alert-contain-modal .alert-contain .alert-footer {
  text-align: right;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
}

.alert-contain-modal .alert-contain .alert-footer .btn {
  text-decoration: none;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #64a131;
  color: #fff;
  border: 1px solid #64a131;
  border-radius: 5px;
}

