<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>用户注册</title>
        <link rel="stylesheet" href="../../static/css/register.css">
    </head>
    <body>
        <div id="top">
            <h2>欢迎注册</h2>
        </div>
        <div id="main">
            <div class="title">
                <span>新用户注册</span>
            </div>
            <form action="" name="form" method="post" >
                <div class="form-line">
                    <span>用户帐号:</span>
                    <input type="text" name="username" class="formVal" placeholder="请输入帐号">
                    <span class="tooltip"></span>
                    <span class="tipText">*用户名格式不对</span>
                    <span class="tipText">*用户名不能为空</span>
                </div>
                <div class="form-line">
                    <span>用户密码:</span>
                    <input type="password" name="password" class="formVal" placeholder="请输入密码">
                    <span class="tooltip"></span>
                    <span class="tipText">*密码格式不对</span>
                    <span class="tipText">*密码不能为空</span>
                </div>
                <div class="form-line">
                    <span>确认密码:</span>
                    <input type="password" name="confirmPassword" class="formVal" placeholder="确认密码">
                    <span class="tooltip"></span>
                    <span class="tipText">*密码不一致</span>
                    <span class="tipText">*确认密码不能为空</span>
                </div>
                <div class="form-line">
                    <span>用户邮箱:</span>
                    <input type="text" name="email" class="formVal" placeholder="请输入邮箱">
                    <span class="tooltip"></span>
                    <span class="tipText">*邮箱格式不对</span>
                    <span class="tipText">*邮箱不能为空</span>
                </div>
                <div class="form-line">
                    <span>手机号码:</span>
                    <input type="text" name="telphone" class="formVal" placeholder="请输入手机号码">
                    <span class="tooltip"></span>
                    <span class="tipText">*手机号码格式不对</span>
                    <span class="tipText">*手机号码不能为空</span>
                </div>
                <div class="form-line">
                    <span>身份证号:</span>
                    <input type="text" name="identity" class="formVal" placeholder="身份证号码">
                    <span class="tooltip"></span>
                    <span class="tipText">*身份证号格式不对</span>
                    <span class="tipText">*身份证号不能为空</span>
                </div>
                <div class="formline">
           
                </div>

                <div class="form-line">
                    <p></p>
                    <div>
                        <input type="submit" value="注册" class="btu" onclick="return subimit()">
                    </div>
                </div>
            </form>
        </div>
        <script src="./security_code.js"></script>
        <script src="./register.js"></script>
    </body>
</html>
