<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>找回密码</title>
  <link rel = "stylesheet" href = "/static/css/retriveve_password.css">
  <link rel = "shortcut icon" href = "/static/image/图标.png">
  <script src = "/static/js/common.js"></script>
  <script src = "/static/jquery/jquery-3.1.1.min.js"></script>
  <script src = "/static/jquery/jquery.cookie.js"></script>
  <script src = "/static/js/retriveve_password.js"></script>
</head>
<body >
<div id = "content">
  <div id = "left-top">
    <a href = "/"><img src = "/static/image/happyshopping.png" alt = ""></a>
  </div>
  <div id = "right-top">
    <ol>
      <li>
        <a href = "/login">登录</a>

      </li>
      <li>|</li>
      <li>
        <a href = "/register">注册</a>
      </li>
    </ol>
  </div>
  <div id = "nav"><span>找回密码</span></div>
  <form action = "javascript:" id = "step1">
    <div class = "form-line">
      <span>请输入你想要找回的帐号</span>
    </div>
    <div class = "form-line">
      <input type = "text" id = "user_account"  placeholder = "请输入帐号/邮箱/手机号">
    </div>

    <div class = "form-line">
      <input type = "text" id = "check_code"  placeholder = "请输入验证码">
      <input id = "btnSendCode" style = "width: 120px;height: 39px;text-align: center;background-color: white;
                border: 1px solid #E2E2E2;" name = "btnSendCode" type = "button" value = "获取验证码"
             onclick = "send_acount();">
    </div>
    <div class = "form-line">
      <a class = "btu" href = "javascript:" onclick = "getnext('step2')">下一步</a>
    </div>
  </form>
  <form action = "javascript:" id = "step2">
    <div class = "form-line">
      <span>用户密码:</span>
      <input type = "password" name = "newpassword" class = "formVal" placeholder = "请输入密码" id="new_pwd">
      <table class = "tooltip"></table>
      <span class = "tipText">*密码格式不对</span>
      <span class = "tipText">*密码不能为空</span>
    </div>
    <div class = "form-line">
      <span>确认密码:</span>
      <input type = "password" name = "confirmPassword" class = "formVal" placeholder = "确认密码">
      <table class = "tooltip"></table>
      <span class = "tipText">*密码不一致</span>
      <span class = "tipText">*确认密码不能为空</span>
    </div>
    <div class = "form-line">
      <a class = "btu" href = "javascript:" onclick = "getnext('step1')">上一步</a>
      <a class = "btu" href = "javascript:" onclick = "return subimit()">确认修改</a>
    </div>
  </form>
</div>

</body>
</html>