<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <title>个人中心</title>
  <link rel = "stylesheet" href = "/static/css/personal_info.css" type = "text/css">
  <link rel = "stylesheet" href = "/static/css/index.css" type = "text/css">
  <link rel = "shortcut icon" href = "/static/image/图标.png">
  <script src = "/static/js/common.js"></script>
  <script src = "/static/jquery/jquery-3.1.1.min.js"></script>
  <script src = "/static/jquery/jquery.cookie.js"></script>
  <script src = "/static/js/personal_info.js"></script>
</head>
<body style = "background-image:url('/static/image/big_exchange.jpg');
background-size: cover;">
<div id = "container">
  <div id = "title">
    {% if key %}
      <ul>
        <li><a href = "/">欢乐GO首页</a></li>
        <li><span>Hi，</span></li>
        <li style = "margin: 0" class = "last_line"><a href = "/personal">{{ user_name }}</a></li>
        <li class = "last_line"><a href = "/loginout">退出</a></li>
      </ul>
      <ul style = "float: right;margin-right: 50px">
        <li style = "margin-left: 550px"><a href = "/personal">个人中心</a></li>
        <li><a href = "/putaway">闲置甩卖</a></li>
      </ul>
    {% else %}
      <ul>
        <li><a href = "/">欢乐GO首页</a></li>
        <li><a href = "/login">请登录</a></li>
        <li class = "last_line"><a href = "/register">免费注册</a></li>
      </ul>
      <ul style = "float: right;margin-right: 50px">
        <li style = "margin-left: 550px"><a href = "/login">个人中心</a></li>
        <li><a href = "/login">闲置甩卖</a></li>
      </ul>
    {% endif %}
  </div>
  <div id = "nav" style = "  padding-top: 8px;">
    <div class = "form_nav_line">
      <span style = "font: 40px '楷体	KaiTi'"><a href = "">个人中心</a></span>
    </div>
  </div>
</div>
<div id = "mymessage">
  <div id = "nav">
    <div class = "headpor">
      <img src = "/static/image/grxx.png">
    </div>
    <div>
      <ul>
        <li><a href = "/personal">个人信息</a></li>
      </ul>
      <ul>
        <li><a href = "changepwd">修改密码</a></li>
      </ul>
      <ul>
        <li><a href = "/mythings">我的闲置</a></li>
      </ul>
      <ul>
        <li><a href = "/order_list">历史订单</a></li>
      </ul>
    </div>
  </div>
  <form action = "" method = "post" id = "umessage" enctype="multipart/form-data">
    {% csrf_token %}
    <div class = "umessage_img">
      <img src = "{{ user_avatar }}" width = "150px" height = "150px" id="iiimg" >
      <div id = "preview"></div>
      <label for = "files" style="margin-left: 30px; color: blue;">更换头像</label>
      <input type = "file" accept = "image/png,image/gif,image/jpg,image/jpeg" id = "files" name = "files"
              onchange = "setImagePreviews()" style = " display: none"/>

    </div>
    <div class = "umessage_infor">
      <div class = "form_line">
        用户名:
        <span style = "margin-left: 32px">{{ user_name }}</span>
        {#        <input type = "text" name = "uname" placeholder = "请输入昵称" maxlength = "10" style="margin-left: 14px">#}
      </div>
      <div class = "form_line">
        邮箱:
        <span style = "margin-left: 52px">{{ user_email }}</span>
        {#        <input type = "text" name = "uname" placeholder = "请输入昵称" maxlength = "10" style="margin-left: 14px">#}
      </div>
      <div class = "form_line">
        生日:
        <span style = "margin-left: 52px">{{ birth }}</span>
        {#        <input type = "text" name = "ubirth" placeholder = "出生日期" style="margin-left: 14px">#}
      </div>
      <div class = "form_line">
        用户性别:
        {% if gender == 0 %}
          <input type = "radio" name = "gender" value = 2 id = "unknown" style = "margin-left: 14px">
          <label for = "secret">保密</label>
          <input type = "radio" name = "gender" value = 0 id = "man" checked = "checked">
          <label for = "man">男</label>
          <input type = "radio" name = "gender" value = 1 id = "woman">
          <label for = "woman">女</label>
        {% elif gender == 1 %}
          <input type = "radio" name = "gender" value = 2 id = "unknown" style = "margin-left: 14px">
          <label for = "secret">保密</label>
          <input type = "radio" name = "gender" value = 0 id = "man">
          <label for = "man">男</label>
          <input type = "radio" name = "gender" value = 1 id = "woman" checked = "checked">
          <label for = "woman">女</label>
        {% else %}
          <input type = "radio" name = "gender" value = 2 id = "unknown" checked = "checked"
                 style = "margin-left: 14px">
          <label for = "secret">保密</label>
          <input type = "radio" name = "gender" value = 0 id = "man">
          <label for = "man">男</label>
          <input type = "radio" name = "gender" value = 1 id = "woman">
          <label for = "woman">女</label>
        {% endif %}
      </div>
      <div class = "form_line">
        手机号:
        <span style = "margin-left: 34px">{{ phonenum }}</span>
        {#        <input type = "text" class = "hobby" style="margin-left: 14px">#}
      </div>
      <div class = "form_line">
        注册日期:
        <span style = "margin-left: 14px">{{ using_date }}</span>
        {#        <input type = "text" class = "hobby" style="margin-left: 14px">#}
      </div>
      <div class = "form_line">
        {% if user_place %}
          <span>{{ user_place }}</span>
        {% else %}
          所在省份：
          <select id = "province" name = "province" onchange = "selectprovince(this);" style = " width:95px;"></select>
          所在城市：
          <select id = "city" name = "city" style = " width:95px;"></select>
        {% endif %}
      </div>
      <div class = "form_line">
        <input type = "submit" value = "确认" class = "btu">
        <input type = "reset" value = "重置" class = "btu">
      </div>
    </div>
  </form>
</div>
<script src = "/static/js/personal_info.js" type = "text/javascript"></script>
</body>
</html>